# ===========================
# Java
# ===========================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Diretório de build do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ===========================
# Segurança — NUNCA versionar
# ===========================
.env
.env.*
*.pem
*.key
secrets/

# ===========================
# Docker
# ===========================
.dockerignore

# ===========================
# VSCode
# ===========================
.vscode/
*.code-workspace

# ===========================
# Sistema Operacional
# ===========================

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# ===========================
# Logs
# ===========================
*.log
logs/